@import "../styleVariables.scss";


.sectionHeader {
    padding: 48px 20px 48px 20px;
    &.shortClass {
        padding-bottom: 24px; 
    }
    h2 {
   
        color: $slate-kicker;
        font-size: 26px;
        margin: 0;
    }
    a {
        text-decoration: underline;
        color: $link-blue;
        &:hover {
            color: #007bb7;
        }
    }
    &.brightSide {
        padding-left: 105px;
        position:relative; 
    }
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &.noTitle {
        justify-content: flex-end;
    }
}
.subTitleClass {
    width: $text-half-width;
    margin-top: 8px; 
    &.brightSide {
        color: $slate-kicker;
        width: 826px;
    }
}
.bsIcon {
    position:absolute;
    left: 20px;
    top: 34px;
    > svg {
        fill: $slate-kicker;
        width: 61px;
        height: 61px;
    }
}