@import "../styleVariables.scss";


.sectionHeader {
    padding: 48px 20px 48px 20px;
    &.copyCentered {
        width: 826px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    &.shortClass {
        padding-bottom: 24px; 
    }
    &.blueBG {
        h2 {
            color: white; 
        }
    }
    &.hMargin24 {
        padding-bottom: 24px; 
    }
    &.hMargin12 {
        padding-bottom: 12px; 
    }
    
    h2 {
   
        color: $slate-kicker;
        font-size: 26px;
        margin: 0;
    }
    a {
        text-decoration: underline;
        color: $link-blue;
        &:hover {
            color: #007bb7;
        }
        @media print {
            display:none; 
        }
    }
    &.brightSide {
        padding-left: 105px;
        position:relative; 
    }
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &.noTitle {
        justify-content: flex-end;
    }
}
.subTitleClass {
    width: $text-half-width;
    margin-top: 8px; 
    color: $bg-blue;
    &.brightSide {
        color: $slate-kicker;
        width: 826px;
    }
    &.longText {
        width: 656px;
    }
}
.bsIcon {
    position:absolute;
    left: 20px;
    top: 34px;
    > svg {
        fill: $slate-kicker;
        width: 61px;
        height: 61px;
    }
}