@import "../styleVariables.scss";

.cardSection {
    &.greyBG {
        background: #F6F7F9;
    }    
}

.sectionHeader {
    padding: 48px 20px 48px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2 {
        text-transform: lowercase;
        color: $slate-kicker;
        font-size: 26px;
        margin: 0;
    }
    a.backButton {
        text-decoration: underline;
        color: $link-blue;
    }
}
.cardList {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display:flex; 
}
.cardItem {
    flex: 1;
    padding: 24px;
    background: white;
    margin-bottom: 48px;
    &:not(:first-child) {
        margin-left: 24px;
    }
    .cardKicker {
        color: $slate-kicker;
        margin-bottom: 8px;
    }
    h2 {
        font-size: 26px;
        line-height: (29/26);
        margin-bottom: 24px;
    }
    p {
        line-height: (24 /16);
    }
}