@import "../styleVariables.scss";

.cardSection {
    background: #F6F7F9;
    &.whiteBG {
        background:white;
    }    
}


.cardList {
    list-style: none;
    margin: 0;
    padding: 0 20px;
}
.cardRow {
    display:flex;
    @media print {
        page-break-inside: avoid;
    }
}
.cardItem {
    width: calc( (100% / 3) - ( (24px * 2) / 3  ) );
    flex: none;
    background: white;
    margin-bottom: 48px;
    position:relative;
    display:block;
    text-decoration: none !important;
    @media print {
        page-break-inside :avoid;
    }
    &:not(.flat).whiteBG {
        background: #F6F7F9;
    }
    > * {
        position:relative;
    }
    &.flat {
        background: none; 
    }
    
    &:not(:first-child) {
        margin-left: 24px;
    }
    .cardKicker {
        color: $slate-kicker;
        margin-bottom: 8px;
    }
    h2 {
        font-size: 26px;
        line-height: (29/26);
        margin-bottom: 24px;
    }
    p {
        line-height: (24 /16);
    }
    .oneLine & {
         flex: 1;
         width: auto; 
    }
    &.wLink:before {
        transition: all .25s;
        display:block;
        content: "";
        pointer-events: none;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &:hover:before {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    }
    &.wLink.flat:before {
        left: -12px;
        top: -12px;
        width: calc(100% + 24px);
        height: calc(100% + 24px);
        
    }
    &.wLink.flat:hover:before {
        background: white; 
    }
    
   
    .wLink {
        * {
            cursor: pointer;
        }
    }
}
.cardText {
    padding: 24px;
    .flat & {
        padding: 0;
    }
    .wLink & {
        padding-bottom: (24px * 3);
        @media print {
            padding-bottom: 24px;
        }
    }
    .wLink.flat & {
        padding-bottom: (24px * 2);
        @media print {
            padding-bottom: 0;
        }
    }
}
.cardImg {
    display:block;
    position:relative;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center center;
    .flat & {
        margin-bottom: 58px;
    }
}
.cardLinkContainer {
    margin-top: 24px;
    position:absolute;
    width: calc(100% - (24px * 2) );
    left: 24px;
    bottom: 24px;
    .flat & {
        width: 100%;
        left: 0;
        bottom: 0;
    }
    @media print {
        display: none; 
    }
}
.cardLinka {
    display:inline-block;
    color: $link-blue !important;
    font-weight: 700;
    text-transform: lowercase;
    .cardItem:hover & {
        color: #007BB7 !important;
    }
}
.cardLinka > * {
    display:inline-block;
    position: relative;
    vertical-align: middle;
}
.cardLinksvg {
    width: 18px;
    height: 18px;
    fill: currentColor;
    margin-left: 4px;
    &.dlLink {
        transform: rotate(90deg);
    }
}
.iconHolder {
    width: 64px;
    height: 64px;
    position:relative;
    margin: 24px 24px 0 24px;
    .flat & {
        margin: 0 0 24px 0;
    }
}
.cardIcon {
    position:absolute;
    left: 0;
    bottom: 0;
    max-width: 64px;
    max-height: 64px;
    display: block;;
   
}
.linkOverlay {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
}
.brightSideBug {
    position:absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 96px;
    background: linear-gradient(135deg, #EE3D8B 0%,#EE3D8B 50%,transparent 50%,transparent 100%);
    > svg {
        fill:white; 
        width: 36px;
        height: 36px;
        position: absolute;
        left: 8px;
        top: 8px;
    }
}