@import "../styleVariables.scss";

.accordion {
    padding-bottom: 48px;
   
}
$left-padding: 38px;

.aItem {
    margin: 0 20px;
    border-top: 1px solid #D5D9E0;
    @media print {
        border-top-color: #003865;
    }
    
    &:last-child {
        border-bottom: 1px solid #D5D9E0;
    }
    &.isOpenClass {
        border-top-color: #003865;
        
    }
}
.textContent {
    display:none; 
    padding-left: $left-padding;
    margin-bottom: 1em;
    @media print {
        display:block !important;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}
.localHeader  {
    @media print {
        display:none; 
    } 
}
.aHeader {
    $headerClass: &;
    position: relative;
    padding: 16px 0 16px $left-padding;
    display:block;
    cursor:pointer; 
    @media print {
        padding-left: 0;
    }
    &Expand {
        position:absolute;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    &Container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &Text {
        #{$headerClass}:hover & {
            text-decoration: underline;
        }
        color: $link-blue;
        font-weight: 700; 
        min-width: 364px;
    }
    &Pill {
        background: black; 
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        color:white; 
        line-height: 24px;
        border-radius: 12px;
        padding: 0 8px;
        display:inline-block;
        &--Simplify {
            background: #EE3D8B;
        }
        &--Belong {
            background: #00AC41;
        }
        &--Impact {
            background: #8246AF
        }
        &Container {
            width: 84px;
            margin-left: 24px;
        }
    }
    &:before, &:after {
        display:block;
        content: '';
        background: $slate-kicker;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        width: 14px;
        height: 2px;
        @media print {
            display:none !important; 
        }
    }   
    &:after {
        width: 2px;
        height: 14px;
        left: 6px;
        top: calc(50% - 7px);
    }
    &.isOpenClass {
        &:after {
            display:none; 
            
        }
    }
    &:hover {
        .aHeaderText, .localHeader {
            color: #007bb7;
        }
        
    }
    

}
.icon {
    position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    
}