$height : 35px;

.barContainer {
    position:relative;
    height: $height; 
    @media print {
        display:none;
    }
}
.barNav {
    height: $height;
    position:absolute;
    width: 100%; 
    left: 0;
    top: 0;
    background: #00317C;
    padding: 0 20px;
    line-height: $height;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    &.above {
        position: fixed;
        z-index: 9999;
    }
}
a.hhome {
    color: white;
}
.lList {
    display:flex;
    a {
        color:#87CBEA;
        margin-left: 12px;
    }
}