.tSec {
    height: 544px;
    h1.h1 {
        text-transform: lowercase;
        
        color: white; 
        font-size: 90px;
        line-height: (94/90);
        margin-bottom: 48px; 
    }
    .contentBox {
        width: 652px;
        margin-left: 20px;
        padding-top: 72px;
        color: white; 
    }
    .kicker {
        text-transform: lowercase;
        font-size: 52px;
        line-height: (55 / 52);
        margin-bottom: 16px;
        font-weight: 100;
    }
    .content {
        font-size: 25px;
        line-height: (32 / 25);
        font-weight: 100;
        p {
            line-height: inherit;
        }
    }
    
}

