@import "../../styleVariables.scss";
/*
.overviewContainer {
    height: 440px;
    position:relative; 
}
.textContainer {
    position:absolute;
    left: 0;
    top: 0;
    width: 358px;
    padding: 72px 24px 0 20px; 
}
.headerSize {
    font-size: 32px;
    line-height: (35/32);
}
h2.h2 {

    margin-bottom: 24px;
}
.diagram {
    position:absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 358px);
    background-position: center center;
    background-size: cover; 
    a {
        color: white;
        text-decoration: none !important;
        position: absolute;
        display:block;
        text-align:center;
        font-size: 26px;
        text-align: center;
        z-index:1;
        span {
   
        }
        &:nth-child(1) {
            position:absolute;
            left: 0;
            top: 0;
            width: 294px;
            height: 294px;
            span {
                display:block; 
                top: 50%;
                left: 0px;
               text-align: center;
                color: #868D95;
                font-size: 22px;
                line-height: 1;
                position: absolute;
                margin-left: 26px; 
                transform: translate(-50%, -50%) rotate(-90deg)
            }
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            height: 146px;
            line-height: 146px;
        }
        &:nth-child(2), &:nth-child(3) {
            width: 378px;
            right: 0;
            top: 0;
        }
        &:nth-child(3) {
            top: 147px;
        }
        &:nth-child(4) {
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
}
.infoList {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 200px;
    text-align: left;
}
.infoList > div {
    position:absolute;
    left: 72px;
    top: 12px;
    font-size: 11px;
    line-height: 1;
    font-weight: 300;
    color:white; 
    width: 200px;
    &:nth-child(2) {
        top: 68px;
    }
    &:nth-child(3) {
        top: 132px;
        color: #003865;
    }
    > div:last-child {
        font-size: 20px;
        line-height: 22px;
    }
}
*/

.textContainer {
    padding: 48px 20px;
    color: #003865 !important;
}
.h2 {
    font-size: 35px;
    line-height: (35/32);
    margin-bottom: 24px;
    color: #003865 !important;
}
.contentContainer {
    position: relative;
    height: 316px;
    margin: 0 20px 48px;
}
.diagram {
    position:absolute;
    left: 0;
    top: 0;
    width: 316em;
    height: 316em;
    margin-right: 24px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    font-size: 1px; 
    border-radius: 16em; 
    > div {
        color:white;
        line-height: 1;
        font-weight: 300;
        color:white; 
        pointer-events: none;
        &:nth-child(1) {
            display:block; 
            top: 50%;
            left: 0px;
            text-align: center;
            line-height: 1;
            position: absolute;
            margin-left: 26em; 
            transform: translate(-50%, -50%) rotate(-90deg);
            span {
                color: #868D95;
                font-size: 22em;
            }
        }
        &:not(:nth-child(1)) {
            left: 72em;
            top: 12em;
            width: 200em;
            position:absolute;
            > div:first-child {
                font-size: 11em;
            }
            > div:last-child {
                font-size: 20em;
                line-height: (22/20);
            }

        }
        &:nth-child(3) {
            top: 75em;
        }
        &:nth-child(4) {
            top: 140em;
            color: #003865;
        }
    }

}
.rightLinks {
    position:absolute;
    right: 0;
    top: 0;
    width: calc(100% - (316px + 24px));
    height: 100%;
    > a {
        display:block;
        color: white; 
        height: calc( (100% - 48px)  / 3);
        text-decoration: none !important;
        background:#003865; 
        position:relative;
        box-shadow: 0px 0px 12px rgba(30, 32, 34, 0.1);
        &:not(:first-child) {
            margin-top: 24px;
        }
        span {
            display:block;
            position:absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            line-height: 1;
            font-size: 32px; 
        }
        &:last-child {
            background: linear-gradient(260.49deg, #EE3D8B 0%, #00ACED 101.04%);
        }
    }
}