.alertContainer {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 5;
    width: 100%;
    padding: 16px 20px 0;
}
.alertBar {
    position: relative;
    border-radius: 2px;
    overflow: hidden; 
    height: 56px;
    padding-left: (56px + 16px);
    padding-right: (20px + 16px + 16px);
    line-height: 56px;
    font-weight: 700;
    background:  #76D3FF;
    &.noIcon {
        padding-left: 56px;
    }
}
.imageIcon {
    position:absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    background-position: center center;
    background-size: cover; 
    > svg {
        position:absolute;
        width: 24px;
        height: 24px;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
    }
}
.alertText > svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
    margin-left: 4px;
    vertical-align: middle;
}
.alertMask {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.closeButton {
    position:absolute;
    right: 0;
    top: 0;
    width: 56px;
    height: 56px;
    > svg {
        width: 24px;
        height: 24px;
        position:absolute;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
    }
}