@import "../sharedStyles.scss";

.tSec {
    
    position:relative;
    background: #009DE0 ;
    background: linear-gradient(196.26deg, #EE3D8B 0%, #009DE0 82.06%);
    &.tall {
        min-height: 544px;
    }
    &.greenBG {
        @include green-gradient();
    }
    
    
    
    
    
    
    
}
h1.h1 {
    color: white; 
    font-size: 90px;
    line-height: (94/90);
    margin-bottom: 48px; 
    font-size: 51px;
    .tall & {
        font-size: 90px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.contentBox {
    
    margin-left: 20px;
    padding-top: 36px;
    padding-bottom: 72px;
    color: white; 
    position: relative;
    > *:empty {
        display:none; 
    }
    .tall & {
        padding-top: 72px;
        
    }
    .wAlert & {
        padding-top: (36px + 16px + 56px);
    }
    .wAlert.tall & {
        padding-top: (72px + 16px + 56px);
    }
    &.hasBgImg {
        width: 652px;
    }
}
.kicker {
    text-transform: lowercase;
    font-size: 36px;
    line-height: (55 / 52);
    margin-bottom: 8px;
    font-weight: 100;
    .tall & {
        margin-bottom: 16px;
        font-size: 52px;
    }
}
.content {
    font-size: 25px;
    line-height: (32 / 25);
    font-weight: 100;
    margin-bottom: 24px;
    p {
        line-height: inherit;
    }
}
.bgImg {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.btnHolder {
    > * {
        margin-right: 24px;
    }
}